<header id="header_04">
	<div class="container">
		<a href="{{ const.BASE_URL }}{% if const.LAN == '_en' %}_en{% endif %}">
			<img src="{{ const.BASE_URL }}assets/img/logo.svg" alt="">
		</a>
		<!------------- NavBar -->
			{% include 'components/sub/nav.html' %}
		<!-- NavBar ------------->
		<a class="btn btn-primary d-none d-lg-inline-flex js_effect" href="{{ const.BASE_URL }}#contacto">
			Contacto
		</a>
		<button class="hamburger" type="button">
			<span></span>
			<span></span>
			<span></span>
		</button>  
	</div>
</header>
<script src="{{ const.BASE_URL }}assets/js/header_04.js"></script>