{% extends "template.html" %}


{% block title %}
EASYPAGE | CONTACTO
{% endblock %}


{% block extraCSS %}
{% endblock %}


{% block extraJS %}
{% endblock %}


{% block content %}

<h1>CONTACTO</h1>

{% if const.LAN == "_es" %}
<h2>LENGUAJE: Español</h2>

{% elseif const.LAN == "_en" %}
<h2>LENGUAJE: Ingles</h2>

{% elseif const.LAN == "_de" %}
<h2>LENGUAJE: Alemán</h2>

{% elseif const.LAN == "_zh" %}
<h2>LENGUAJE: Chino</h2>

{% elseif const.LAN == "_fr" %}
<h2>LENGUAJE: Francés</h2>

{% elseif const.LAN == "_pt" %}
<h2>LENGUAJE: Portugués</h2>

{% elseif const.LAN == "_it" %}
<h2>LENGUAJE: Italiano</h2>

{% elseif const.LAN == "_ru" %}
<h2>LENGUAJE: Ruso</h2>

{% elseif const.LAN == "_ja" %}
<h2>LENGUAJE: Japones</h2>

{% else %}
<h2>LENGUAJE: Default</h2>

{% endif %}

{% endblock %}