{% extends "template.html" %}


{% block title %}
ROALSA CARRIERS
{% endblock %}


{% block extraCSS %}
	<link
	  href="{{ const.BASE_URL }}node_modules/@pnotify/core/dist/PNotify.css"
	  rel="stylesheet"
	  type="text/css"
	/>
	<link
	  href="{{ const.BASE_URL }}node_modules/@pnotify/mobile/dist/PNotifyMobile.css"
	  rel="stylesheet"
	  type="text/css"
	/>
	<link
	  href="{{ const.BASE_URL }}node_modules/@pnotify/core/dist/BrightTheme.css"
	  rel="stylesheet"
	  type="text/css"
	/>
	<link rel="stylesheet" href="{{ const.BASE_URL }}node_modules/photoswipe/dist/photoswipe.css">
{% endblock %}


{% block extraJS %}
	<script>
		document.addEventListener('DOMContentLoaded', function () {
			const elements01 = document.querySelectorAll('.fx_gsap');
			elements01.forEach(function (element) {
			    const sectionParent = element.closest('section');
			    if (sectionParent) {
         		const yPercentValue = element.getAttribute('gsap-directionY') || 0;  // Si no existe, el valor por defecto es 0
         		const startValue = element.getAttribute('gsap-start') || "center bottom";  // Valor por defecto
         		const endValue = element.getAttribute('gsap-end') || "bottom top";  // Valor por defecto
			        const tl = gsap.timeline();
			        tl.to(element, {
			            yPercent: yPercentValue,
			            scrollTrigger: {
			                trigger: sectionParent,
			                start: startValue,
			                end: endValue,
			                scrub: 3
			            }
			        });
			    }
			});
		});
	</script>
	<script
	  type="text/javascript"
	  src="{{ const.BASE_URL }}node_modules/@pnotify/core/dist/PNotify.js"
	></script>
	<script
	  type="text/javascript"
	  src="{{ const.BASE_URL }}node_modules/@pnotify/mobile/dist/PNotifyMobile.js"
	></script>
	<script type="text/javascript">
	  PNotify.defaultModules.set(PNotifyMobile, {});
	</script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/validate.js/0.13.1/validate.min.js"></script>
	{% if const.LAN == "_en" %}
		<script>
			validate.validators.presence.options = {message: "can´t be empty."};
			validate.validators.numericality.options = {message: "must be a numeric value."};
		</script>
	{% else %}
		<script>
			validate.validators.presence.options = {message: "no puede estar vacío."};
			validate.validators.numericality.options = {message: "debe de ser un valor númerico."};
		</script>
	{% endif %}
	<script src="{{ const.BASE_URL }}assets/js/contact_form.js"></script>
	<script type="module">
		import PhotoSwipeLightbox from '{{ const.BASE_URL }}node_modules/photoswipe/dist/photoswipe-lightbox.esm.js';
		const lightbox = new PhotoSwipeLightbox({
		  gallery: '#parentImg',
		  children: 'a',
		  pswpModule: () => import('{{ const.BASE_URL }}node_modules/photoswipe/dist/photoswipe.esm.js')
		});
		lightbox.init();
	</script>
{% endblock %}

{% block content %}

<section class="bg-light px-3 px-md-5 pt-4 pt-md-0 z-0 fixTopMargin d-block d-md-none" id="servicios">
	<div>
		<img src="{{ const.BASE_URL }}assets/img/bg_one.webp" alt="">
		<div class="container h-100">
			<div class="row h-100 align-items-end py-6">
				<div class="col-12 col-md-3 fx_gsap" gsap-directionY="-30" gsap-start="center bottom" gsap-end="bottom top">
					<span>TRANSPORTE DE CARGA</span>
				</div>
				<div class="col-12 col-md-3 fx_gsap" gsap-directionY="-50" gsap-start="center bottom" gsap-end="bottom top">
					<span>SERVICIOS DE CONSULTORÍA</span>
				</div>
				<div class="col-12 col-md-3 fx_gsap" gsap-directionY="-70" gsap-start="center bottom" gsap-end="bottom top">
					<span>EMISIÓN DE PÓLIZAS-FIANZA</span>
				</div>
				<div class="col-12 col-sm-6 col-md-3">
					<a class="btn btn-custom01 rounded-pill position-relative js_effect" href="{{ const.BASE_URL }}#nuestros-servicios">VER SERVICIOS</a>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="main" class="px-3 px-sm-0 fixTopMargin z-1 position-relative">
	<div class="container z-1">
		<div class="row justify-content-center align-items-start">
			<div class="col-12 col-md pb-4 pb-xl-0 fx_gsap" gsap-directionY="10" gsap-start="bottom bottom" gsap-end="bottom top">
				<div class="row">
					<div class="col-12 px-0 px-sm-2">
						<span class="h1 title fw-bold">TRANSPORTE DE <span class="text-secondary d-block">CARGA TERRESTRE</span></span>
					</div>
					<div class="col-12 px-0 px-sm-2">
						<p class="text_icon01 pt-4">
							<svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27 22" width="27" height="22">
								<path fill-rule="evenodd" d="m4.8 18.5h-2.5c-0.4 0-0.7-0.1-0.9-0.4-0.3-0.2-0.4-0.5-0.4-0.8v-13.8c0-0.7 0.3-1.3 0.7-1.8 0.5-0.4 1.1-0.7 1.8-0.7h10c0.7 0 1.3 0.3 1.8 0.7 0.4 0.5 0.7 1.1 0.7 1.8v15m0-12.5h4.4q0.3 0 0.5 0.1 0.3 0.1 0.5 0.4l4.3 5.4q0.3 0.4 0.3 0.8v4.6c0 0.3-0.1 0.6-0.4 0.8-0.2 0.3-0.5 0.4-0.8 0.4h-2.5c0-0.8-0.4-1.5-1.1-2zm1.3 12.5c0-1.4 1.1-2.5 2.5-2.5 0.6 0 1.1 0.2 1.5 0.5l1 2c0 1.4-1.1 2.5-2.5 2.5-1.4 0-2.5-1.1-2.5-2.5zm-10 2.5c1.4 0 2.5-1.1 2.5-2.5 0-1.4-1.1-2.5-2.5-2.5-1.4 0-2.5 1.1-2.5 2.5 0 1.4 1.1 2.5 2.5 2.5zm10-2.5h-7.5"/>
							</svg>
							Soluciones rápidas, seguras y eficientes con cobertura nacional
						</p>
					</div>
				</div>
			</div>
			<form class="col-12 fx_gsap" id="cotiza" gsap-directionY="-15" gsap-start="bottom center" gsap-end="bottom top">
				<div class="row g-4">
  					<div class="col-md-6 parent_form">
  					  	<input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre">
  					  	<div class="invalid-feedback"></div>
  					</div>
  					<div class="col-md-6 parent_form">
  					  	<input type="email" class="form-control" id="email" name="email" placeholder="Email">
  					  	<div class="invalid-feedback"></div>
  					</div>
  					<div class="col-md-6 parent_form">
  					  	<input type="text" class="form-control" id="telefono" name="telefono" placeholder="Teléfono">
  					  	<div class="invalid-feedback"></div>
  					</div>
   					<div class="col-md-6 parent_form">
  					  	<input type="text" class="form-control" id="empresa" name="empresa" placeholder="Empresa">
  					  	<div class="invalid-feedback"></div>
  					</div>
   					<div class="col-12 parent_form">
  					  	<input type="text" class="form-control" id="producto" name="producto" placeholder="Producto">
  					  	<div class="invalid-feedback"></div>
  					</div>
   					<div class="col-12 parent_form">
				  	    <textarea class="form-control" id="detalles" name="detalles" placeholder="Detalles"></textarea>
  					  	<div class="invalid-feedback"></div>
  					</div>
   					<div class="col-12 parent_form">
   						<button type="submit" class="btn btn-secondary">Cotiza tu servicio hoy mismo</button>
  					</div>
				</div>
				<div class="row justify-content-center align-items-center bg-primary bg-opacity-75 loader">
					<div class="spinner-border" role="status">
					  <span class="visually-hidden">{% if const.LAN == "_en" %}Loading...{% else %}Cargando...{% endif %}</span>
					</div>
				</div>	
			</form>
		</div>
	</div>
</section>

<section class="px-3 px-md-5 pt-0 z-0 d-none d-md-block" id="servicios">
	<div>
		<img src="{{ const.BASE_URL }}assets/img/bg_one.webp" alt="">
		<div class="container h-100">
			<div class="row h-100 align-items-end py-6">
				<div class="col-12 col-md-3 fx_gsap" gsap-directionY="-30" gsap-start="center bottom" gsap-end="bottom top">
					<span>TRANSPORTE DE CARGA</span>
				</div>
				<div class="col-12 col-md-3 fx_gsap" gsap-directionY="-50" gsap-start="center bottom" gsap-end="bottom top">
					<span>SERVICIOS DE CONSULTORÍA</span>
				</div>
				<div class="col-12 col-md-3 fx_gsap" gsap-directionY="-70" gsap-start="center bottom" gsap-end="bottom top">
					<span>EMISIÓN DE PÓLIZAS-FIANZA</span>
				</div>
				<div class="col-12 col-sm-6 col-md-3">
					<a class="btn btn-custom01 rounded-pill position-relative js_effect" href="{{ const.BASE_URL }}#nuestros-servicios">VER SERVICIOS</a>
				</div>
			</div>
		</div>
	</div>
</section>

{% set logos = [
    {'img': 'servicios/finutil-logo.svg', 'url': ''},
    {'img': 'servicios/gonbar-logo.svg', 'url': ''},
    {'img': 'servicios/Omnitracs-Logo.svg', 'url': ''},
    {'img': 'servicios/qualitas-logo.svg', 'url': ''},
    {'img': 'servicios/solvento-logo.svg', 'url': ''},
    {'img': 'servicios/zegamex-logo.svg', 'url': ''}
] %}
<section class="bg-light">
	<div class="container">
		<div class="row justify-content-between align-items-center">
			<div class="col-12" gsap-directionY="-22" gsap-start="center bottom" gsap-end="bottom top">
				<div class="row">
					<div class="col-12">
						<!------------- Carousel Logos -->
							{% include 'components/sliders/carousel_logos.html' with {'logos': logos} %}
						<!-- Carousel Logos ------------->
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="bg-tertiary" id="quienes-somos">
	<div class="container pb-5">
		<div class="row">
			<div class="col-12 fx_gsap" gsap-directionY="-15" gsap-start="center bottom" gsap-end="bottom top">
				<span class="h2 title fw-bold">QUIENES <span class="text-secondary">SOMOS</span></span>
			</div>
		</div>
	</div>
	<div class="container-fluid px-3 px-sm-5 z-1">
		<div class="row m-0">			
			<div class="col-12 col-xl h-auto fx_gsap" gsap-directionY="-15" gsap-start="center bottom" gsap-end="bottom top">
				<img src="{{ const.BASE_URL }}assets/img/quienes_somos01.webp">
			</div>
			<div class="col-12 fx_gsap" gsap-directionY="5" gsap-start="center bottom" gsap-end="bottom top" id="parentImg">
				<span class="item_icon smallst pb-4">
					<img src="{{ const.BASE_URL }}assets/img/icon_shield.svg" alt="">
					Transporte de Carga Terrestre Confiable
				</span>
				<p class="h5 pb-4">SOLUCIONES EFICIENTES CON COBERTURA NACIONAL</p>
				<p class="pb-5">Somos una empresa mexicana dedicada al transporte de carga terrestre, con infraestructura propia y experiencia trabajando con marcas líderes en la industria.</p>
				<span class="item_icon fw-medium pb-3">
					<img src="{{ const.BASE_URL }}assets/img/icon_circle_map.svg" alt="">
					Cobertura nacional, priorizando zonas centro, norte y pacífico
				</span>
				<span class="item_icon fw-medium pb-3">
					<img src="{{ const.BASE_URL }}assets/img/icon_circle_user.svg" alt="">
					Servicios dedicados tanto locales en las principales ciudades: Monterrey, Guadalajara, Ciudad de México y Zona Metropolitana.
				</span>
				<span class="item_icon fw-medium pb-3">
					<img src="{{ const.BASE_URL }}assets/img/icon_circle_bus.svg" alt="">
					Transporte transfronterizo en alianza con socios transportistas estadounidenses
				</span>
				<a 
					href="{{ const.BASE_URL }}assets/img/cobertura.webp"
					class="btn btn-custom02 rounded-pill mt-2"
			        data-pswp-width="1400" 
			        data-pswp-height="600" 
			        target="_blank"
				>VER COBERTURA</a>
			</div>
			<div class="col-12 h-auto fx_gsap" gsap-directionY="-15" gsap-start="center bottom" gsap-end="bottom top">
				<img src="{{ const.BASE_URL }}assets/img/quienes_somos02.webp">
			</div>
		</div>
	</div>
	<div class="container pt-5">
		<div class="row justify-content-center">
			<div class="col-12 col-md-6 col-lg-4 pb-3 pb-lg-0 px-3">
				<div>
					<span class="h6 text-uppercase">Misión</span>
					<span class="small">Llevar los productos de nuestros clientes, en las cantidades y calidades requeridas a los lugares indicados, en los tiempos precisos y al menor costo posible, manteniendo siempre un respeto por la sociedad y el medio ambiente.</span>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-4 pb-3 pb-lg-0 px-3">
				<div>
					<span class="h6 text-uppercase">Visión</span>
					<span class="small">Llegar a ser una empresa de Transporte y Logística con estándares internacionales, que logre agregar valor a sus clientes y colaboradores, haciendo uso eficiente de sus recursos humanos, materiales y tecnológicos.</span>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-4 px-3">
				<div>
					<span class="h6 text-uppercase">Valores</span>
					<span class="small">Confianza, Honestidad, Lealtad, Compromiso, Transparencia, Responsabilidad social, Cuidado del medio ambiente.</span>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="nuestros-servicios" class="pt-0 px-3 px-sm-0">
	<div class="container fx_gsap" gsap-directionY="10" gsap-start="top bottom" gsap-end="bottom top">
		<div class="row justify-content-between align-items-center">
			<div class="col-12 pb-3 pb-md-5 fx_gsap">
				<div class="row justify-content-center">
					<div class="col-12 text-center">
						<span class="h2 title fw-bold">NUESTROS <span class="text-secondary">SERVICIOS</span></span>
					</div>
				</div>
			</div>
			<div class="col-12" gsap-directionY="-22" gsap-start="center bottom" gsap-end="bottom top">
				<div class="row">
					<div class="col-12">
						<!------------- Carousel Logos -->
							{% include 'components/sliders/carousel_servicios.html' %}
						<!-- Carousel Logos ------------->
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% set logosServicios = [
    {'img': 'logos/biopappel-logo.svg', 'url': ''},
    {'img': 'logos/del-valle-logo.svg', 'url': ''},
    {'img': 'logos/Kimberly-Clark_logo.svg', 'url': ''},
    {'img': 'logos/Recurso_3.svg', 'url': ''},
    {'img': 'logos/samsung-logo.svg', 'url': ''},
    {'img': 'logos/scribe-logo.svg', 'url': ''},
] %}
<section id="nuestros-servicios-logos" class="pt-0">
	<div class="container">
		<div class="row justify-content-between align-items-center">
			<div class="col-12 pb-3 pb-md-5 fx_gsap">
				<div class="row justify-content-center">
					<div class="col-12 text-left">
						<span class="h2 title fw-bold">NUESTROS <span class="text-secondary">PROVEEDORES</span></span>
					</div>
				</div>
			</div>
			<div class="col-12" gsap-directionY="-22" gsap-start="center bottom" gsap-end="bottom top">
				<div class="row">
					<div class="col-12">
						<!------------- Carousel Logos -->
						{% include 'components/sliders/carousel_logos.html' with {'logos': logosServicios} %}
						<!-- Carousel Logos ------------->
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="cat" class="pt-4">
	<div class="container position-relative">
		<div class="row justify-content-center align-items-center">
			<div class="col-12 fx_gsap" gsap-directionY="-5" gsap-start="center bottom" gsap-end="bottom top">
				<div class="row align-items-center">
					<span class="col-12 h3 title fw-bold text-light text-uppercase pb-4">Optimiza tu logística hoy mismo</span>
					<div class="col">
						<span class="text-light">Confía en nuestra experiencia y cobertura nacional para tus envíos. Transporte de carga terrestre eficiente y seguro, adaptado a tus necesidades.</span>
					</div>
					<div class="col-12">
    					<a class="btn btn-custom03 text-uppercase js_effect" href="{{ const.BASE_URL }}#contacto">Cotiza tu servicio</a>
					</div>
				</div>
			</div>
		</div>
		<img src="{{ const.BASE_URL }}assets/img/containers.webp" class="fx_gsap" alt="" gsap-directionY="-20" gsap-start="center center" gsap-end="bottom top">
	</div>
</section>


<section id="contacto" class="bg-primary px-3 px-sm-0">
	<div class="container z-1">
		<div class="row justify-content-between align-items-start">
			<div class="col-12 col-lg-5 pb-4 pb-xl-0 pr-5 fx_gsap" gsap-directionY="10" gsap-start="bottom bottom" gsap-end="bottom top">
				<div class="row">
					<div class="col-12 pb-4">
						<span class="h2 title text-light fw-bold">CONTÁCTANOS</span>
					</div>
					<div class="col-12">
						<span class="text-light">Si tienes alguna pregunta o necesitas una cotización personalizada, no dudes en ponerte en contacto con nosotros. Nuestro equipo estará encantado de asesorarte y brindarte soluciones adaptadas a tu negocio.</span>
					</div>
					<div class="col-12 pt-5 pb-2">
						<span class="h6 text-light">CONTACTO DIRECTO</span>
					</div>
					<div class="col-12">
						<a href="tel:4461146690" class="text_icon01 text-light">
							<svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" width="50" height="50">
								<path fill-rule="evenodd" d="m14.8 1.9c0.9 0 1.7 0.4 2.3 0.8 0.6 0.5 1.3 1.2 1.4 2.1-0.3 3.2 1.2 7.5 2.1 10.8 0.1 0.3 0 0.8-0.3 1.1l-5.7 5.5c4.3 6.7 7.3 9.6 14.2 13.7l5.7-5.5c0.3-0.2 0.7-0.4 1.1-0.3 3.2 0.8 7.2 1.9 10.2 1.9 1 0 1.7 0.4 2.3 0.9 0.6 0.6 1.1 1.3 1.1 2.2q0 4.8-0.1 9.7c0 0.9-0.4 1.6-1 2.2-0.6 0.6-1.4 0.9-2.3 1.1-13.8 0-24.9-3.9-32.6-11.3-7.7-7.3-11.9-18.1-12.4-31.5 0-0.8 0.4-1.6 0.9-2.4 0.6-0.5 1.4-1 2.3-1q5.4 0 10.8 0zm-11.5 2.6c0 0.2-0.2 0.4-0.2 0.6 0.4 13.1 4.5 23.2 11.7 30.1 7.2 6.9 17.5 10.6 30.9 10.6 0.2 0 0.6-0.1 0.8-0.4 0.3-0.2 0.4-0.5 0.4-0.7v-9.5c0-0.1-0.1-0.4-0.3-0.6-0.2-0.3-0.6-0.4-0.7-0.4-3.4 0-7.1-1-10.3-1.7l-5.8 5.7c-0.4 0.3-1 0.4-1.4 0.1-8-4.6-11.4-8-16.2-15.7-0.2-0.4-0.2-1.1 0.2-1.4l5.8-5.7c-0.8-2.9-2.1-6.8-1.9-10.4-0.1-0.1-0.3-0.4-0.5-0.6-0.3-0.2-0.7-0.3-0.9-0.3q-5.4 0-10.9 0c-0.2 0.1-0.5 0.1-0.7 0.3z"/>
							</svg>
							446 114 6690
						</a>
					</div>
					<div class="col-12">
						<a href="mailto:guillermo.alvarado@roalsa.com.mx" class="text_icon01 text-light">
							<svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" width="50" height="50">
								<path fill-rule="evenodd" d="m49.4 11.6v28.5c0 1.7-1.4 3.1-3.1 3.1h-42.6c-1.7 0-3.1-1.4-3.1-3.1v-28.5c0-1.7 1.4-3.1 3.1-3.1h42.6c1.7 0 3.1 1.4 3.1 3.1zm-44.7-0.8l20.3 18.9 20.3-18.9zm12.8 15l-14.5-13.5v27.1zm27.8 15l-14.5-13.5-5.8 5.4-5.8-5.4-14.5 13.5zm1.7-28.6l-14.6 13.6 14.6 13.5z"/>
							</svg>
							guillermo.alvarado@roalsa.com.mx
						</a>
					</div>
				</div>
			</div>
			<form class="col-12 col-lg-6 fx_gsap" id="contact_form" gsap-directionY="-15" gsap-start="bottom center" gsap-end="bottom top">
				<div class="row g-4">
  					<div class="col-md-6 parent_form">
  					  	<input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre">
  					  	<div class="invalid-feedback"></div>
  					</div>
  					<div class="col-md-6 parent_form">
  					  	<input type="email" class="form-control" id="email" name="email" placeholder="Email">
  					  	<div class="invalid-feedback"></div>
  					</div>
  					<div class="col-md-6 parent_form">
  					  	<input type="text" class="form-control" id="telefono" name="telefono" placeholder="Teléfono">
  					  	<div class="invalid-feedback"></div>
  					</div>
   					<div class="col-md-6 parent_form">
  					  	<input type="text" class="form-control" id="empresa" name="empresa" placeholder="Empresa">
  					  	<div class="invalid-feedback"></div>
  					</div>
   					<div class="col-12 parent_form">
  					  	<input type="text" class="form-control" id="servicio" name="servicio" placeholder="Servicio de tu interés">
  					  	<div class="invalid-feedback"></div>
  					</div>
   					<div class="col-md-6 parent_form">
  					  	<input type="text" class="form-control" id="origen" name="origen" placeholder="Origen">
  					  	<div class="invalid-feedback"></div>
  					</div>
   					<div class="col-md-6 parent_form">
  					  	<input type="text" class="form-control" id="destino" name="destino" placeholder="Destino">
  					  	<div class="invalid-feedback"></div>
  					</div>
   					<div class="col-md-6 parent_form">
  					  	<input type="text" class="form-control" id="producto" name="producto" placeholder="Producto">
  					  	<div class="invalid-feedback"></div>
  					</div>
   					<div class="col-md-6 parent_form">
  					  	<input type="text" class="form-control" id="peso" name="peso" placeholder="Peso">
  					  	<div class="invalid-feedback"></div>
  					</div>
   					<div class="col-12 parent_form">
				  	    <textarea class="form-control" id="detalles" name="detalles" placeholder="Detalles"></textarea>
  					  	<div class="invalid-feedback"></div>
  					</div>
   					<div class="col-12">
   						<button type="submit" class="btn btn-secondary">Cotiza tu servicio hoy mismo</button>
  					</div>
				</div>
				<div class="row justify-content-center align-items-center bg-primary bg-opacity-75 loader">
					<div class="spinner-border" role="status">
					  <span class="visually-hidden">{% if const.LAN == "_en" %}Loading...{% else %}Cargando...{% endif %}</span>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>


{% endblock %}