<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  	<link rel="icon" href="assets/img/icon.png" type="image/png">
	<link href="{{ const.BASE_URL }}assets/css/custom.css" rel="stylesheet">
	<script src="{{ const.BASE_URL }}node_modules/jquery/dist/jquery.min.js"></script>
	<title>{% block title %} {% endblock %}</title>

	{% block extraCSS %}{% endblock %}

</head>
<body>

<nav class="navbar custom_nav navbar-expand-lg">
	<div class="container">
  	<a class="navbar-brand" href="{{ const.BASE_URL }}">
  		<img src="{{ const.BASE_URL }}assets/img/logo.svg" alt="">
  	</a>
  	<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
  	  	<span class="navbar-toggler-icon"></span>
  	</button>
  	<div class="collapse navbar-collapse" id="navbarsExample03">
  	  	<ul class="navbar-nav ml-auto">
  	  	  	<li class="nav-item {% if const.active_index == true %}active{% endif %}">
  	  	  	  	<a class="nav-link" href="{{ const.BASE_URL }}">INICIO</a>
  	  	  	</li>
  	  	  	<li class="nav-item {% if const.active_clientes == true %}active{% endif %}">
  	  	  	  	<a class="nav-link" href="{{ const.BASE_URL }}clientes">CLIENTES</a>
  	  	  	</li>
  	  	  	<li class="nav-item {% if const.active_servicios == true %}active{% endif %}">
  	  	  	  	<a class="nav-link" href="{{ const.BASE_URL }}clientes">SERVICIOS</a>
  	  	  	</li>
  	  	</ul>
  	</div>
  	</div>
</nav>

	{% block content %}{% endblock %}


</body>
	<script src="{{ const.BASE_URL }}node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
	{% block extraJS %}{% endblock %}
</html>