// Functions first
//@import "../../node_modules/bootstrap/scss/functions";

@import "./font";

//<----------VARIABLES A MODIFICAR

// Paleta de colores
$primary: #1b66f9;
$secondary: #BD943A;
$tertiary: #FCB30F;
$light: #FFFFFF;
$body-color: #161514; 

// Configuraciones adicionales
$enable-shadows: true;
$prefix: "mo-";
$enable-rounded: false;

// Tipografía
$font-family-sans-serif: 'Syne', sans-serif;

//VARIABLES A MODIFICAR------------>


@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./font_size";
@import "./mixins";
@import "./gral";

// Components
//@import "./header_01";
//@import "./header_02";
//@import "./header_03";
@import "./header_04";
@import "./contact";
@import "./social_list";
@import "./footers";
@import "./carousel_logos";
@import "./carousel_servicios";
@import "./slider_maxsize";
@import "./components";

//<----------AQUI TU SASS PERSONALIZADO



@include media-breakpoint-down(xl) {
}

@include media-breakpoint-down(lg) {
}

@include media-breakpoint-down(md) {
}

@include media-breakpoint-down(sm) {
}

@include media-breakpoint-down(xs) {
}
//AQUI TU SASS PERSONALIZADO------------>


