@font-face {
    font-family: 'Afacad Flux';
    font-weight: 900;
    src: url('../fonts/Afacad_Flux/AfacadFlux-Black.eot');
    src: local('AfacadFlux-Black'),
         url('../fonts/Afacad_Flux/AfacadFlux-Black.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Afacad_Flux/AfacadFlux-Black.woff2') format('woff2'),
         url('../fonts/Afacad_Flux/AfacadFlux-Black.woff') format('woff'),
         url('../fonts/Afacad_Flux/AfacadFlux-Black.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Afacad Flux';
    font-weight: 700;
    src: url('../fonts/Afacad_Flux/AfacadFlux-Bold.eot');
    src: local('AfacadFlux-Bold'),
         url('../fonts/Afacad_Flux/AfacadFlux-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Afacad_Flux/AfacadFlux-Bold.woff2') format('woff2'),
         url('../fonts/Afacad_Flux/AfacadFlux-Bold.woff') format('woff'),
         url('../fonts/Afacad_Flux/AfacadFlux-Bold.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Afacad Flux';
    font-weight: 800;
    src: url('../fonts/Afacad_Flux/AfacadFlux-ExtraBold.eot');
    src: local('AfacadFlux-ExtraBold'),
         url('../fonts/Afacad_Flux/AfacadFlux-ExtraBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Afacad_Flux/AfacadFlux-ExtraBold.woff2') format('woff2'),
         url('../fonts/Afacad_Flux/AfacadFlux-ExtraBold.woff') format('woff'),
         url('../fonts/Afacad_Flux/AfacadFlux-ExtraBold.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Afacad Flux';
    font-weight: 200;
    src: url('../fonts/Afacad_Flux/AfacadFlux-ExtraLight.eot');
    src: local('AfacadFlux-ExtraLight'),
         url('../fonts/Afacad_Flux/AfacadFlux-ExtraLight.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Afacad_Flux/AfacadFlux-ExtraLight.woff2') format('woff2'),
         url('../fonts/Afacad_Flux/AfacadFlux-ExtraLight.woff') format('woff'),
         url('../fonts/Afacad_Flux/AfacadFlux-ExtraLight.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Afacad Flux';
    font-weight: 300;
    src: url('../fonts/Afacad_Flux/AfacadFlux-Light.eot');
    src: local('AfacadFlux-Light'),
         url('../fonts/Afacad_Flux/AfacadFlux-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Afacad_Flux/AfacadFlux-Light.woff2') format('woff2'),
         url('../fonts/Afacad_Flux/AfacadFlux-Light.woff') format('woff'),
         url('../fonts/Afacad_Flux/AfacadFlux-Light.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Afacad Flux';
    font-weight: 500;
    src: url('../fonts/Afacad_Flux/AfacadFlux-Medium.eot');
    src: local('AfacadFlux-Medium'),
         url('../fonts/Afacad_Flux/AfacadFlux-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Afacad_Flux/AfacadFlux-Medium.woff2') format('woff2'),
         url('../fonts/Afacad_Flux/AfacadFlux-Medium.woff') format('woff'),
         url('../fonts/Afacad_Flux/AfacadFlux-Medium.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Afacad Flux';
    font-weight: 400;
    src: url('../fonts/Afacad_Flux/AfacadFlux-Regular.eot');
    src: local('AfacadFlux-Regular'),
         url('../fonts/Afacad_Flux/AfacadFlux-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Afacad_Flux/AfacadFlux-Regular.woff2') format('woff2'),
         url('../fonts/Afacad_Flux/AfacadFlux-Regular.woff') format('woff'),
         url('../fonts/Afacad_Flux/AfacadFlux-Regular.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Afacad Flux';
    font-weight: 600;
    src: url('../fonts/Afacad_Flux/AfacadFlux-SemiBold.eot');
    src: local('AfacadFlux-SemiBold'),
         url('../fonts/Afacad_Flux/AfacadFlux-SemiBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Afacad_Flux/AfacadFlux-SemiBold.woff2') format('woff2'),
         url('../fonts/Afacad_Flux/AfacadFlux-SemiBold.woff') format('woff'),
         url('../fonts/Afacad_Flux/AfacadFlux-SemiBold.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Afacad Flux';
    font-weight: 100;
    src: url('../fonts/Afacad_Flux/AfacadFlux-Thin.eot');
    src: local('AfacadFlux-Thin'),
         url('../fonts/Afacad_Flux/AfacadFlux-Thin.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Afacad_Flux/AfacadFlux-Thin.woff2') format('woff2'),
         url('../fonts/Afacad_Flux/AfacadFlux-Thin.woff') format('woff'),
         url('../fonts/Afacad_Flux/AfacadFlux-Thin.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
}

h1, .h1{
    font-size: clamp(2.5rem, 2.3466rem + 0.6818vw, 3.4375rem);
}
h2, .h2{
    font-size: clamp(2.1875rem, 2.1364rem + 0.2273vw, 2.5rem);
}
h3, .h3{
    font-size: clamp(1.875rem, 1.8239rem + 0.2273vw, 2.1875rem);
}
h4, .h4{
    font-size: clamp(1.5625rem, 1.5114rem + 0.2273vw, 1.875rem);
}
h5, .h5{
    font-size: clamp(1.25rem, 1.1989rem + 0.2273vw, 1.5625rem);
}
h6, .h6{
    font-size: clamp(1.125rem, 1.1045rem + 0.0909vw, 1.25rem);
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6{
    font-weight: 600;
}