.pb-6, .py-6 {
    padding-bottom: 4.5rem !important;
}
.pt-6, .py-6 {
    padding-top: 4.5rem !important;
}
.pb-0, .py-0 {
    padding-bottom: 0 !important;
}
.pt-0, .py-0 {
    padding-top: 0 !important;
}
.disabled{
	opacity: .75 !important;
	pointer-events: none !important;
}
