<nav>
	<ul>
		<li>
			<a value='INICIO' class="js_effect" href="{{ const.BASE_URL }}#main">
				<span>INICIO</span>
			</a>
		</li>
		<li>
			<a value='NOSOTROS' class="js_effect" href="{{ const.BASE_URL }}#quienes-somos">
				<span>NOSOTROS</span>
			</a>
		</li>
		<li>
			<a value='SERVICIOS' class="js_effect" href="{{ const.BASE_URL }}#nuestros-servicios">
				<span>SERVICIOS</span>
			</a>
		</li>
		<li>
			<a value='BOLSA DE TRABAJO' href="{{ const.BASE_URL }}trabajo">
				<span>BOLSA DE TRABAJO</span>
			</a>
		</li>
		<li class="d-inline-flex d-lg-none">
			<a value='CONTACTO' class="js_effect" href="{{ const.BASE_URL }}#contacto">
				<span>CONTACTO</span>
			</a>
		</li>
	</ul>
</nav>